.form {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 20px;
    padding: 20px;
    margin-bottom: 10px;
}

@media (orientation: portrait) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__button {
    background-color: teal;
    color: white;
    border: none;
    padding: 5px;
}

.form__input {
    border: 2px solid #eee;
    padding: 5px;
}