.taskList {
    margin: 0;
    padding: 0;
    list-style: none;
}

.taskList__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 10px;
    margin: 5px; 
    border-bottom: solid 1px #eee; 
}

.taskList__item--done {
    text-decoration: line-through;
}

.taskList__button {
    width: 35px;
    height: 35px;
    cursor: pointer;
    color: white;
    margin: 5px;
    border: none;
}

.taskList__button--done {
    background-color: green;
}

.taskList__button--done:hover {
    background-color: hsl(120, 100%, 30%);
}

.taskList__button--done:active {
    background-color: hsl(120, 100%, 40%);
}

.taskList__button--remove {
    background-color: red;
}

.taskList__button--remove:hover {
    background-color: hsl(0, 100%, 60%);
}

.taskList__button--remove:active {
    background-color: hsl(0, 100%, 70%);
}