.section {
    background-color: white;
    margin: 10px;
    box-shadow: 0 0 5px #ddd;
}

.section__header {
    font-size: 20px;
    margin: 0;
    padding: 20px;
    border-bottom: #ddd solid 1px;
}

.section__header--grid {
    display: grid;
    grid-template-columns: 1fr auto;
   padding-top: 0;
   padding-bottom: 0;
}

@media (max-width: 767px) {
    .section__header--grid {
        grid-template-columns: 1fr;
    }

    .section__buttons {
        margin-top: 0;
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
}

.buttonSection {
    background: none;
    color: teal;
    border: none;
    cursor: pointer;
    outline: inherit;
    transition: 0.5s;
}

.buttonSection:hover {
    color:hsl(180, 100%, 40%);
}
 .buttonSection:disabled {
    color: rgb(199, 199, 199);
 }
.section__container {
    padding: 20px;
}