html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #eee;
    display: flex;
    margin:10px;
    justify-content: center;
}

.container {
    flex-basis: 800px;
}

.list__item--done {
    text-decoration: line-through;
}

.subheader {
    margin:0;
    padding: 10px;
    background-color: white;
    border: #eee solid 1px;
}